# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\S_400_500_MaSpringMaCloudMaImpl\test-1806-cloud\test-zuul-server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
